#Core Django requirements
Django==5.2.9
asgiref==3.11.0
djangorestframework==3.16.1
python-dotenv==1.2.1
sqlparse==0.5.5

#Database requirements
psycopg2-binary>=2.9.9

#Channels requirements
daphne>=4.1.0
channels>=4.1.0

#CORS headers requirements
django-cors-headers>=4.3.1