name: Deploy to Azure

on:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.6
        env:
          ENV_BACKEND: ${{ secrets.ENV_BACKEND }}
          ENV_FRONTEND: ${{ secrets.ENV_FRONTEND }}
        with:
          host: ${{ secrets.AZURE_VM_HOST }}
          username: azureuser
          key: ${{ secrets.AZURE_VM_SSH_KEY }}
          envs: ENV_BACKEND,ENV_FRONTEND
          script: |
            set -e 
            echo "Starting Deployment..."
            
            cd ~/whisper-chat
            git pull origin main

            echo "$ENV_BACKEND" > backend/.env
            echo "$ENV_FRONTEND" > frontend/.env
            
            cd docker/deploy
            
            echo "Building and Starting Docker Containers..."
            sudo docker compose up --build -d
            
            sudo docker image prune -f
            
            echo "Deployment Successful!"